@import url(../style.css);
@import url(../Contact\ Us/contactusstyle.css);




a{
    text-decoration: none;
}
body,html{
    height: 100%;  
}
.grey-color{
    color: #3c3a3a;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Days One', sans-serif;
}
#wrapper{
    display: flex;
    padding-top: 20px ;
    padding-bottom: 100px;
      /*umumi hisse*/
}


                    /*sol teref burdan baslayir*/



#left-col{
    max-width: 287px;
    height: auto; /*sol teref*/
}
#sink{
    background-color: rgb(28,28,28);  /*sink yazisi*/
    height: 25px;
    padding: 25px 20px 0;
    font-size: 22px;
    border-radius: 5px;
    color: white;
}

#classical-design img{
    height: 370px;
    border-radius: 5px;  /*classical-design img in left-col */
    margin: 30px 0 0;
    width: 100%;
}
#new-product{
    border: 1px solid #e5eaef; /*umumi product*/
    height: auto;
    border-radius: 3px;
    margin: 30px 0 0;
}
#in-new-product{
    padding: 0 20px 20px 20px; /*3 fotoya verilen padding*/
}

#in-new{
    padding: 25px 20px 20px; /*product*/
    font-size: 22px;
}

.product-description{
    font-size: 14px;  /*seklin yanindaki sozlerin olcusu*/
    margin-left: 12px;
    line-height: 22px;
}


.with-img{
    display: flex;  /*flex burdan verilib*/
    margin: 10px 0 0;
     
}
.with-img h1 a{
    font-size: 14px;
    font-family: 'Lato', sans-serif; /*soap dishes link*/
    color: #8E8E8E;
    
    
}
.with-img h1{
    line-height: 16px;  
    margin: 0 0 2px;
}
.with-img:hover h1 a{   /*hover hover*/
    color: #1c1c1c;
}
.with-img:hover button{
    color: #8E8E8E /*hover hover*/
}

/*spanlar*/
.in-product span:nth-child(2){
    color: #8E8E8E;
    font-family: 'Lato', sans-serif; 
}
.in-product span:nth-child(3) {
    color: #8E8E8E;
}
/*image burdadir*/
.with-img a img{
    width: 85px;
    height: 108px;
    border-radius: 3px;
}
/*strike*/
.strike{
    color: #797878; 
}
.in-product .grey-color + span{
    background-color: #f8f8f8;  /*FAIZ ISARESI*/
    font-weight: 300;
    
}
.in-product button{
    font-family: 'Lato', sans-serif;  /*button*/
    border: transparent;
    cursor: pointer;
    background-color: transparent;
    color: #1c1c1c;
    font-weight: 400;
    
}

#size-color{
    border: 1px solid #e5eaef; /*border*/
    border-radius: 3px;
    margin: 30px 0 0;
}
#size-color .in-size{
    color: #8E8E8E;
    font-weight: 400;
    font-family: 'Lato', sans-serif; /*Filter by sozu*/
    font-size: 15px;
    margin: 0 0 8px;
}
.checkbox-size{
    padding: 12px 20px; /*section*/
    margin: 0 0 16px;
    
}
.checkbox-size p:first-child{
    color: #1c1c1c;
    font-size: 14px;
    margin: 0 0 20px;
    font-family: 'Lato', sans-serif;  /*size sozu*/
    font-weight: 700;
    
}
.check-inp{
    display: none; /*display none*/
}
.box .check-div{
    height: 14px;  /*qutu*/
    width: 14px;
    display: inline-block;
    border: 2px solid #e7e8ea;
    position: relative;

}
.check-div i{
    position: absolute;
    font-size: 12px;
    font-weight: 900;
    display: none;
    color: #8E8E8E;

}
.box .check-inp:checked + .check-div i{
    display: block;/*v isaresi*/
    
}
.box{
     display: flex;
     cursor: pointer;
}
.box:first-of-type~.box{   
    
    margin: 26px 0 0;  /*label*/
 
}
.box:hover span{
    color: #1c1c1c;
}
#left-col{
    font-family: 'Days One', sans-serif;
}

.box span  {
    color: #8e8e8e;  /*S(6)*/
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 10px;
    margin-left: 4px;
}
.color div{
    background-color: red;
}

.box2{
    
    display: flex; /*label*/     
    cursor: pointer;
}
.box2:first-of-type~.box2{
    margin: 26px 0 0;
}
.box2 span{
    color: #8e8e8e;  /*S(6)*/
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 10px;
    margin-left: 4px;
}
.box2 .check-div{
    height: 15px;  /*qutu*/
    width: 15px;
    display: inline-block;
    border: 1px solid #e7e8ea;
    outline: 1px solid #e7e8ea;
}
.box2:nth-of-type(1) .check-div{
    background-color: #434A54;
}
.box2:nth-of-type(2) .check-div{
    background-color: #F39C11;;
}
.box2:nth-of-type(3) .check-div{
    background-color: #5D9CEC;
}

.box2:nth-of-type(4) .check-div{
    background-color: #A0D468;;
}
.box2:nth-of-type(5) .check-div{
    background-color: #F1C40F;
}

.box2:hover div{
    border: 2px solid #1c1c1c;
} 
.box2:hover span{
    color: #1c1c1c;
}
.box2 .check-inp:checked + .check-div{
    border: 2px solid #1c1c1c;
}



                /*body hissesi burdan baslayir*/



 
#body{
    width: 902px; /*padding verilib*/
    border: #1c1c1c 2px solid;
    padding: 0 10px;

}
#body-sink{
    font-weight: 600;
    font-family: 'Lato', sans-serif;  /*sink sozu*/
    font-size: 22px;
    color: #1c1c1c;
    margin: 0 0 42px;

}
#body-toolbar{
    padding: 20px 30px 15px;   /*toolbar a padding burda verilib*/
}
#body-product i{
    font-size: 30px;
}


#body-product i:hover {
    background-color: #1c1c1c;
    color: white;
    border-radius: 4px;
    outline: #1c1c1c  solid 4px;
}


 


/*Body Style*/

.aboutUsGeneralDiv{
    margin-left: 20px;
    color: #8e8e8e;
    font-family: 'Lato','san-serif';
    max-width: 902.5px;
}

.aboutUs{
    font-size: 22px;
    color: #1c1c1c;
    padding-bottom: 60px;
}
.ourCompanyDiv{
    width: 200px;
    font-size: 14px;
}
.our{
    font-size: 18px;
    font-weight: 700px;
    padding-bottom: 8px;
    border: 1px solid #8e8e8e4f;
    width: 900px;
}
.aboutTextsDiv{
    display: flex;
}
.ourDiv{
    padding-left: 25px;
}
.ourCompanyText{
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.5;
    font-weight: 400;

}
.resetPasswordTextForMail{
    font-size: 14px;
    font-weight: 300;
    padding-top: 16px;
    padding-left: 24px;
}
.submitButton{
    width: auto;
    cursor: pointer;
}
.backToLogin{
    margin-top: 80px;
}
.backToLogin a{
    color: #8E8E8E;
}
.backToLogin a:hover{
    color: #1c1c1c;
}
.submitButton:hover{
    background-color: #8E8E8E;
}
.subjectSelectionDiv{
    display: flex;
}
.showPassword{
    border: none;
    background-color: #8E8E8E;
    color: #f1f1f1;
    font-size: 14px;
    cursor: pointer;
}
#passwordTextbox{
    padding: 6px 12px;
    width: 94.423%;
}
.forgotPassword a{
    color: #8e8e8e;
    font-size: 14px;
}
.forgotPassword{
    padding: 25px 0;
}
.forgotPassword a:hover{
    color: #1c1c1c;
}
.logInLine{
    width: 90%;
    border: none;
    background-color: #8E8E8E4f;
    height: 1px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.createAccount a{
    font-size: 16px;
}


.ifHaveAcoount{
    font-size: 14px;
    padding-top: 35px;
    padding-left: 35px;
}
.ifHaveAcoount a{
    color: #8E8E8E;
}
.ifHaveAcoount a:hover{
    color: #1c1c1c;

}












.label-subject{
    font-size: 14px;
    color: #8e8e8e; 
}

.input-subject{
    display: none;
}

.input-subject-div{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 2px solid #8e8e8e;
    border-radius: 50%;
    display: inline-block;
}

.in-subject-div{
    
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 2px auto;
    background-color: #8E8E8E; 
    display: none;
}
.input-subject:checked + .input-subject-div div{
    display: block;
}
.subjectCheckBox{
    padding: 0;
}
.checkBoxDiv{
    padding-left: 10px;
    
}
.save{
    margin-left: 570px;
    width: 70px;
}
